# Binance Futures Testnet API credentials
# Get these from: https://testnet.binancefuture.com
# Copy this file to .env and fill in your values

BINANCE_API_KEY=Your_key_here
BINANCE_API_SECRET=Your_secrt_here
